<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Escrita CSV</title>
  </head>
  <body>
      <h1>Olá Pessoa</h1>
          <h1>Grupos do AD</h1>
          <p>
          {% for g in grupo %}
            {{ g }};<br/>
          {% endfor %}
          </p>

          <h1>OU do grupo (Unidade)</h1>
          <p>
          {% for u in unidade %}
            {{ u }} <br/>
          {% endfor %}
          </p>

  </body>
</html>
